<extend name="_Layout/main"/>
<block name="libs">
    <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
</block>

<block name="main">
    <div class="container">
 <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
	<form action="{:U(Admin/AttendanceRecord/userinfo)}" method="post">
<div>选择您要查看的用户： <input type="text" name="keyword"  value="" placeholder="请输入ID">

    <input value="查看" name="submit" type="submit">
</div>
</form>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</block>
<block name="script">
   		<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'line'
        },
        title: {
            text: '个人打卡时间'
        },
        subtitle: {
            text: '个人每天打卡时间'
        },
        xAxis: {
            categories: <?php echo $user_reg_date;?>
        },
        yAxis: {
            title: {
                text: 'shijian'
            },
            // labels: {
            //     formatter:function(){
            //         return  Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.value);
            //         }
            // }
            tooltip:{
                formatter:function(){
                return Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.y);
                }
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: '下班打卡时间',
            data: <?php echo $islatecount;?>
        }, {
            name: '上前打卡时间',
            data: <?php echo $isearly;?>
        }]
    });
});
		</script>
</block>
