<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>{$meta_title}｜{:C('WEB_SITE_TITLE')}后台管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/admin.min.css?v={:C('STATIC_VERSION')}">

    <!-- 如果配置里CDN静态资源列表则使用CDN否则使用静态资源 -->
    <?php if(C('CDN_RESOURCE_LIST')): ?>
        {:C('CDN_RESOURCE_LIST')}
    <?php else: ?>
        <script type="text/javascript" src="__PUBLIC__/libs/jquery/1.x/jquery-1.11.3.min.js"></script>
    <?php endif; ?>
</head>

<body id="<?php echo 'body-'.$__CONTROLLER_NAME__.'-'.$__ACTION_NAME__; ?>" class="<?php echo 'body-'.$__CONTROLLER_NAME__.' body-'.$__CONTROLLER_NAME__.'-'.$__ACTION_NAME__; ?>">

    <div id="particles-js" class="background"></div>

    <div class="container">
        <div class="panel panel-default login-panel col-xs-12 col-md-4 col-md-offset-4">
            <div class="panel-heading">
                <h3 class="panel-title text-center">
                    <img class="logo" src="__HOME_IMG__/logo/logo_with_title.png">
                </h3>
                <div class="info text-muted text-center">
                    <span>让考勤更简单</span>
                    <!--<a class="text-muted" target="_blank" href="{:C('WEBSITE_DOMAIN')}">
                        {:C('PRODUCT_NAME')}
                    </a>-->
                </div>
            </div>
            <div class="panel-body">
                <form class="login-form" action="{:U('Public/login')}" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" class="form-control" placeholder="邮箱/手机号/用户名" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                            <input type="password" class="form-control" placeholder="请输入密码" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-eye"></i></span>
                            <input type="text" class="form-control" name="verify" placeholder="请输入验证码">
                            <span class="input-group-addon verifyimg-box">
                                <img class="verifyimg reload-verify" alt="验证码" src="{:U('verify')}" title="点击刷新">
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block submit ajax-post" target-form="login-form">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="bottom navbar-fixed-bottom text-center">
        <span>Powered by {:C('PRODUCT_NAME')} v{:C('CURRENT_VERSION')}</span>
        <span>Copyright © <a href="{:C('WEBSITE_DOMAIN')}" target="_blank">{:C('COMPANY_NAME')}</a> All rights reserved.</span>
        <script src="__PUBLIC__/libs/particles/particles.min.js"></script>
        <script src="__PUBLIC__/js/admin.min.js?v={:C('STATIC_VERSION')}"></script>
    </div>
</body>
</html>
