<?php 
    $user_info = D('User')->find(is_login());
?>

<block name="style">
    <style type="text/css">
        .avatar-box table.info td{
            width: 50%;
            padding: 2px;
        }
    </style>
</block>

<div class="panel panel-default avatar-box">
    <div class="panel-heading text-center">
        <h3 class="panel-title">
            <a href="{:U('User/home')}" target="_blank">
                <img class="img-circle" src="{$user_info.avatar|get_cover='avatar'}" style="width:120px;height:120px;">
            </a>
        </h3>
    </div>
    <div class="panel-body">
        <table class="info">
            <tbody>
                <tr>
                    <td class="border-none">关注：0</td>
                    <td class="border-none">粉丝：0</td>
                </tr>
                <tr>
                    <td class="border-none">积分：{$user_info.score}</td>
                    <td class="border-none">余额：¥{$user_info.money}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<nav class="menu menu-corethink" data-toggle="menu">
    <!-- 侧边导航 -->
    <div class="panel-group" role="tablist">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">
                    <a class="" data-toggle="collapse" href="#list1"><i class="fa fa-folder-open-o"></i> 个人中心</a>
                </h4>
            </div>
            <div id="list1" class="panel-collapse collapse in" role="tabpanel">
                <div class="list-group">
                    <a class="list-group-item" href="{:U('User/profile')}"><i class="fa fa-edit"></i> 修改信息</a>
                    <a class="list-group-item" href="{:U('UserMessage/index')}"><i class="fa fa-envelope-o"></i> 消息中心</a>
                    <a class="list-group-item" href="{:U('Document/mydoc')}"><i class="fa fa-file-word-o"></i> 我的文档</a>
                        <a class="list-group-item" href="{:U('Home/AttendanceRecord/userinfo')}"><i class="fa fa-bullhorn"></i> 考勤记录</a>
                        <a class="list-group-item" href="{:U('Home/Leaves/add')}"><i class="fa fa-child"></i> 在线请假</a>
                    
                </div>
            </div>
        </div>
    </div>
</nav>
