/* 通用样式
-------------------------------------------------- */
.nav-tabs {
    margin-bottom: 20px;
}
.btn-default-inverse {
    color: #fff;
    border-color: #fff;
    text-shadow: none;
}
.btn-default-inverse:hover,
.btn-default-inverse.hover,
.btn-default-inverse.active {
    color: #333; 
    background: #fff;
}


/* 顶部导航及主导航样式
-------------------------------------------------- */
body {
    padding-top: 50px;
}

.full-header .main-nav {
    border: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}
.full-header .main-nav .navbar-nav>li>a:hover {
    background-color: #009CEA;
    border-color: #009CEA;
    color: #fff;
}
.full-header .main-nav .navbar-nav>.active>a,
.full-header .main-nav .navbar-nav>.active>a:focus,
.full-header .main-nav .navbar-nav>.active>a:hover {
    background-color: #009CEA;
    border-color: #009CEA;
    color: #fff;
}
.full-header .main-nav .navbar-brand .logo {
    height: 32px;
    margin: -6px 0px;
}


/* 面包屑导航
-------------------------------------------------- */
@media (min-width: 768px) {
    #breadcrumb {
        margin-top: 15px;
    }
}
@media (max-width: 768px) {
    #breadcrumb {
        padding: 0px !important;
    }
}


/* 底部样式
-------------------------------------------------- */
.footer .copyright {
    border-top: 1px solid #eee;
    padding: 10px 0px;
    margin-top: 15px;
    margin-bottom: 0px;
}
